* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, Montserrat;
}

.container {
    overflow-x: auto;
    display: flex;
    min-height: 300px;
    background: #f7ecca;
}

.item {
    flex: 1 0 20%;
    font-size: 16px;
    font-weight: 600;
    background: #d2e8fc;
    border: 1px solid #ccc;
    margin: 4px;
}